<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>New Product</title>
</head>

<body>


   <center>
      <h1>Add Products</h1>
      <form action="/product" method="post">
         Name <br>
         <input type="text" name="txtName" id="txtName" value="{{oldValues.name}}">
         <br>
         <br>

         Price <br>
         <input type="text" name="txtPrice" id="txtPrice" value="{{oldValues.price}}">
         <br>
         <span style="color: red;">{{error}}</span>
         <Br>

         Picture URL <br>
         <input type="text" name="txtImage" id="txtImage" value="{{oldValues.image}}">
         <br>
         <br>
         <input type="submit" value="Insert">
   </center>
   </form>
</body>

</html>